In [4]:
import numpy as np
import pandas as pd
import datetime

In [37]:
indep = ['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01', 
         '2016-02-08', '2016-02-09', '2016-02-10', 
         '2016-03-01', '2017-03-01', '2018-03-01', '2019-03-01', '2020-03-01', 
        '2016-04-13', '2016-05-01', '2017-05-01', '2018-05-01', '2019-05-01', '2020-05-01',
        '2016-05-05', '2017-05-05', '2018-05-05', '2019-05-05', '2020-05-05',
        '2016-06-06', '2017-06-06', '2018-06-06', '2019-06-06', '2020-06-06', 
        '2016-08-15', '2017-08-15', '2018-08-15', '2019-08-15', '2020-08-15', 
        '2016-09-14', '2016-09-15', '2016-09-16', '2016-10-03', 
        '2017-01-27', '2017-01-30', '2017-05-03', '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-06',
        '2018-02-15', '2018-02-16', '2018-05-22', '2018-06-13', '2018-09-24', '2018-09-25', '2018-09-26', 
        '2018-10-03', '2019-10-03', '2018-10-09', '2018-10-09', '2018-12-25', '2019-12-25', 
        '2019-02-04', '2019-02-05', '2019-02-06', '2019-05-06', '2019-09-12', '2019-09-13', 
        '2020-01-24', '2020-01-27', '2020-04-15', '2020-04-30']

In [84]:
# 날씨 데이터
date_to_weather = {}
weather_to_num = {
    '맑음' : 0,
    '구름조금' : 1,
    '구름많음' : 2,
    '흐림' : 3,
    '비' : 4,
    '눈' : 5,
}
tmp = pd.read_csv('./data/weather_2020.csv', encoding='euc-kr', header=None)

for i in range(tmp.count()[0]) :
    date_to_weather[tmp[0][i]] = weather_to_num[str(tmp[1][i]).strip()]
    
date_to_weather

{'2020-01-01': 4,
 '2020-01-02': 3,
 '2020-01-03': 0,
 '2020-01-04': 0,
 '2020-01-05': 1,
 '2020-01-06': 4,
 '2020-01-07': 4,
 '2020-01-08': 4,
 '2020-01-09': 0,
 '2020-01-10': 1,
 '2020-01-11': 1,
 '2020-01-12': 1,
 '2020-01-13': 0,
 '2020-01-14': 0,
 '2020-01-15': 0,
 '2020-01-16': 1,
 '2020-01-17': 1,
 '2020-01-18': 0,
 '2020-01-19': 5,
 '2020-01-20': 0,
 '2020-01-21': 1,
 '2020-01-22': 3,
 '2020-01-23': 1,
 '2020-01-24': 1,
 '2020-01-25': 2,
 '2020-01-26': 2,
 '2020-01-27': 4,
 '2020-01-28': 2,
 '2020-01-29': 2,
 '2020-01-30': 1,
 '2020-01-31': 1,
 '2020-02-01': 1,
 '2020-02-02': 2,
 '2020-02-03': 0,
 '2020-02-04': 5,
 '2020-02-05': 0,
 '2020-02-06': 0,
 '2020-02-07': 3,
 '2020-02-08': 0,
 '2020-02-09': 1,
 '2020-02-10': 0,
 '2020-02-11': 0,
 '2020-02-12': 4,
 '2020-02-13': 3,
 '2020-02-14': 0,
 '2020-02-15': 4,
 '2020-02-16': 5,
 '2020-02-17': 5,
 '2020-02-18': 0,
 '2020-02-19': 2,
 '2020-02-20': 0,
 '2020-02-21': 4,
 '2020-02-22': 4,
 '2020-02-23': 0,
 '2020-02-24': 2,
 '2020-02-25': 4,
 '2020-02-26': 1,
 '2020-02-27': 1,
 '2020-02-28': 4,
 '2020-02-29': 4,
 '2020-03-01': 4,
 '2020-03-02': 0,
 '2020-03-03': 2,
 '2020-03-04': 1,
 '2020-03-05': 0,
 '2020-03-06': 0,
 '2020-03-07': 1,
 '2020-03-08': 0,
 '2020-03-09': 2,
 '2020-03-10': 4,
 '2020-03-11': 0,
 '2020-03-12': 1,
 '2020-03-13': 4,
 '2020-03-14': 0,
 '2020-03-15': 1,
 '2020-03-16': 0,
 '2020-03-17': 1,
 '2020-03-18': 0,
 '2020-03-19': 1,
 '2020-03-20': 0,
 '2020-03-21': 2,
 '2020-03-22': 0,
 '2020-03-23': 0,
 '2020-03-24': 0,
 '2020-03-25': 1,
 '2020-03-26': 4,
 '2020-03-27': 4,
 '2020-03-28': 1,
 '2020-03-29': 0,
 '2020-03-30': 0,
 '2020-03-31': 1,
 '2020-04-01': 1,
 '2020-04-02': 1,
 '2020-04-03': 0,
 '2020-04-04': 0,
 '2020-04-05': 0,
 '2020-04-06': 1,
 '2020-04-07': 0,
 '2020-04-08': 0,
 '2020-04-09': 0,
 '2020-04-10': 1,
 '2020-04-11': 1,
 '2020-04-12': 1,
 '2020-04-13': 0,
 '2020-04-14': 0,
 '2020-04-15': 1,
 '2020-04-16': 1,
 '2020-04-17': 4,
 '2020-04-18': 1,
 '2020-04-19': 4,
 '2020-04-20': 4,
 '2020-04-21': 1,
 '2020-04-22': 1,
 '2020-04-23': 0,
 '2020-04-24': 0,
 '2020-04-25': 1,
 '2020-04-26': 0,
 '2020-04-27': 1,
 '2020-04-28': 0,
 '2020-04-29': 0,
 '2020-04-30': 1,
 '2020-05-01': 2,
 '2020-05-02': 3,
 '2020-05-03': 2,
 '2020-05-04': 1,
 '2020-05-05': 1,
 '2020-05-06': 0,
 '2020-05-07': 2,
 '2020-05-08': 4,
 '2020-05-09': 4,
 '2020-05-10': 4,
 '2020-05-11': 4,
 '2020-05-12': 4,
 '2020-05-13': 0,
 '2020-05-14': 3,
 '2020-05-15': 4,
 '2020-05-16': 4,
 '2020-05-17': 2,
 '2020-05-18': 4,
 '2020-05-19': 4,
 '2020-05-20': 2,
 '2020-05-21': 1,
 '2020-05-22': 3,
 '2020-05-23': 2,
 '2020-05-24': 4,
 '2020-05-25': 3,
 '2020-05-26': 4,
 '2020-05-27': 0,
 '2020-05-28': 1,
 '2020-05-29': 0,
 '2020-05-30': 0,
 '2020-05-31': 4,
 '2020-06-01': 4,
 '2020-06-02': 4,
 '2020-06-03': 2,
 '2020-06-04': 4,
 '2020-06-05': 1,
 '2020-06-06': 0,
 '2020-06-07': 1,
 '2020-06-08': 1,
 '2020-06-09': 1,
 '2020-06-10': 4,
 '2020-06-11': 2,
 '2020-06-12': 3,
 '2020-06-13': 1,
 '2020-06-14': 4,
 '2020-06-15': 2,
 '2020-06-16': 2,
 '2020-06-17': 2,
 '2020-06-18': 3,
 '2020-06-19': 4,
 '2020-06-20': 0,
 '2020-06-21': 0,
 '2020-06-22': 0,
 '2020-06-23': 2,
 '2020-06-24': 4,
 '2020-06-25': 4,
 '2020-06-26': 4,
 '2020-06-27': 2,
 '2020-06-28': 0,
 '2020-06-29': 4,
 '2020-06-30': 4,
 '2020-07-01': 3,
 '2020-07-02': 2,
 '2020-07-03': 4,
 '2020-07-04': 4,
 '2020-07-05': 1,
 '2020-07-06': 2,
 '2020-07-07': 2,
 '2020-07-08': 1,
 '2020-07-09': 1,
 '2020-07-10': 4,
 '2020-07-11': 2,
 '2020-07-12': 4,
 '2020-07-13': 4,
 '2020-07-14': 4,
 '2020-07-15': 1,
 '2020-07-16': 1,
 '2020-07-17': 1,
 '2020-07-18': 1,
 '2020-07-19': 4,
 '2020-07-20': 4,
 '2020-07-21': 2,
 '2020-07-22': 4,
 '2020-07-23': 4,
 '2020-07-24': 4,
 '2020-07-25': 3,
 '2020-07-26': 2,
 '2020-07-27': 4,
 '2020-07-28': 4,
 '2020-07-29': 4,
 '2020-07-30': 4,
 '2020-07-31': 4,
 '2020-08-01': 4,
 '2020-08-02': 4,
 '2020-08-03': 4,
 '2020-08-04': 4,
 '2020-08-05': 4,
 '2020-08-06': 4,
 '2020-08-07': 3,
 '2020-08-08': 4,
 '2020-08-09': 4,
 '2020-08-10': 4,
 '2020-08-11': 4,
 '2020-08-12': 3,
 '2020-08-13': 3,
 '2020-08-14': 4,
 '2020-08-15': 4,
 '2020-08-16': 3,
 '2020-08-17': 1,
 '2020-08-18': 1,
 '2020-08-19': 0,
 '2020-08-20': 2,
 '2020-08-21': 4,
 '2020-08-22': 4,
 '2020-08-23': 2,
 '2020-08-24': 2,
 '2020-08-25': 2,
 '2020-08-26': 4,
 '2020-08-27': 4,
 '2020-08-28': 4,
 '2020-08-29': 4,
 '2020-08-30': 4,
 '2020-08-31': 3,
 '2020-09-01': 3,
 '2020-09-02': 4,
 '2020-09-03': 4,
 '2020-09-04': 0,
 '2020-09-05': 3,
 '2020-09-06': 4,
 '2020-09-07': 4,
 '2020-09-08': 1,
 '2020-09-09': 4,
 '2020-09-10': 4,
 '2020-09-11': 4,
 '2020-09-12': 4,
 '2020-09-13': 1,
 '2020-09-14': 1,
 '2020-09-15': 2,
 '2020-09-16': 4,
 '2020-09-17': 3,
 '2020-09-18': 1,
 '2020-09-19': 4,
 '2020-09-20': 0,
 '2020-09-21': 1,
 '2020-09-22': 1,
 '2020-09-23': 3,
 '2020-09-24': 2}

In [34]:
df = pd.read_csv('서울교통공사_역별 일별 시간대별 승하차인원 정보_20200831.csv', encoding='euc-kr')
times = df.columns[5:]
new_col = {}
hour = 5
for t in times :
    new_col[t] = hour
    hour += 1
df.rename(columns=new_col, inplace=True)
df

,날짜,호선,역번호,역명,구분,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134575,2020-08-31,8호선,2825,신흥,하차,27,68,103,250,153,...,270,236,300,552,419,256,210,123,65,5
134576,2020-08-31,8호선,2826,수진,승차,133,234,546,738,327,...,181,242,276,223,121,78,62,37,12,1
134577,2020-08-31,8호선,2826,수진,하차,29,74,110,335,154,...,200,242,292,486,428,226,213,122,67,6
134578,2020-08-31,8호선,2827,모란,승차,69,105,333,399,214,...,237,265,212,276,166,93,103,36,26,3
134579,2020-08-31,8호선,2827,모란,하차,25,117,129,235,161,...,156,184,175,253,150,74,77,45,35,10

In [85]:
new_df = pd.DataFrame(columns=['연도', '월', '일', '요일', '시간', '날씨', '역명', '인원수'])
times = df.columns[5:]

for i in range(df.count()['날짜']) :
    y = int(df['날짜'][i].split('-')[0])
    m = int(df['날짜'][i].split('-')[1])
    d = int(df['날짜'][i].split('-')[2])
    week = datetime.datetime(y,m,d).weekday()
    
    if week < 5 and (df['날짜'][i] in indep) :
        week = 7
        
    station = df['역명'][i]
    weather = date_to_weather[df['날짜'][i]]
    
    for t in times :
        new_df = new_df.append({'연도' : y,
                                '월' : m,
                                '일' : d,
                                '요일' : week,
                                '시간' : t,
                                '날씨' : weather,
                                '역명' : station,
                                '인원수' : df[t][i]
                               }, ignore_index=True)
        
    if i % 100 == 0 and i > 0 :
        print(f"[INFO] done {i} / {df.count()['날짜']}")
        
new_df

[INFO] done 100 / 134580

        연도  월  일 요일  시간 날씨   역명  인원수
0     2020  1  1  7   5  4  서울역  356
1     2020  1  1  7   6  4  서울역  280
2     2020  1  1  7   7  4  서울역  313
3     2020  1  1  7   8  4  서울역  774
4     2020  1  1  7   9  4  서울역  923
...    ... .. .. ..  .. ..  ...  ...
2015  2020  1  1  7  20  4   이대  439
2016  2020  1  1  7  21  4   이대  461
2017  2020  1  1  7  22  4   이대  351
2018  2020  1  1  7  23  4   이대   99
2019  2020  1  1  7  24  4   이대    1

[2020 rows x 8 columns]

In [92]:
new_df.groupby(['연도', '월', '일', '요일', '시간', '날씨','역명']).sum()
new_df.to_csv('new_2020.csv', encoding='euc-kr')
new_df

        연도  월  일 요일  시간 날씨   역명  인원수
0     2020  1  1  7   5  4  서울역  356
1     2020  1  1  7   6  4  서울역  280
2     2020  1  1  7   7  4  서울역  313
3     2020  1  1  7   8  4  서울역  774
4     2020  1  1  7   9  4  서울역  923
...    ... .. .. ..  .. ..  ...  ...
2015  2020  1  1  7  20  4   이대  439
2016  2020  1  1  7  21  4   이대  461
2017  2020  1  1  7  22  4   이대  351
2018  2020  1  1  7  23  4   이대   99
2019  2020  1  1  7  24  4   이대    1

[2020 rows x 8 columns]